<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
	         http://www.springframework.org/schema/security
	         http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/**/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/restaurants/**" access="isAnonymous()"/>
        <intercept-url pattern="/rest/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider>
            <password-encoder ref="noopEncoder"/>
            <user-service>
                <user name="user@yandex.ru" password="password" authorities="ROLE_USER"/>
                <user name="admin@gmail.com" password="admin" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>

        <!--
        https://stackoverflow.com/questions/7347183/using-spring-security-how-can-i-use-http-methods-e-g-get-put-post-to-disti

        <http auto-config="true">
            <intercept-url pattern="/login.jsp" access="permitAll" />
            <intercept-url pattern="/**" access="isAuthenticated" />
        </http>
        Placing the more specific match on top.

        The last thing the quote says is about the HTTP method. You can use it to specify the match, so:

        <http auto-config="true">
            <intercept-url pattern="/client/edit" access="isAuthenticated" method="GET" />
            <intercept-url pattern="/client/edit" access="hasRole('EDITOR')" method="POST" />
        </http>
        -->